{% extends 'base.html' %}
{% block content %}

<body>
    <div class='mt-5'>
        <h2>{{ livro.titulo }}</h2>
        <h4>{{ livro.autor }}</h4>
        <h3>Sinopse:</h3>
        <h4>{{ livro.descricao }}</h4>
        <h4>{{ livro.editora }}</h4>
        <h4>Estão disponiveis {{ livro.quantidade }} unidades.</h4>

    <a class="btn btn-primary mt-1" href="{% url 'deletar_livro' livro.id %}">DELETAR</a>
    <a class="btn btn-primary mt-1" href="{% url 'atualizar_livro' livro.id %}">ATUALIZAR</a>
    <a class="btn btn-primary mt-1" href="{% url 'emprestar_livro' livro.id %}">PEDIR</a>
    </div>
{% endblock content %}