<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Biblioteca - Lista de Livros</title>
</head>
<body>
    <h1><b>BibliotecaTeca</b></h1>
    <a href="{% url 'home' %}">Home</a>
    <hr>
    <br>
    <h2><b>Historico de Emprestimos</b></h2>
    <hr>
    <br>
        {% for emprestimo in emprestimos %}
        <b>Livro:</b> {{ emprestimo.livro }}<br>
        <b>Data:</b> {{ emprestimo.data_de_emprestimo }}<br>
        <b>Codigo:</b> {{ emprestimo.codigo }}<br>
        <hr>
        <br>
        {% endfor %}
</body>
</html>