{% extends 'base.html' %}
{% block content %}
<body>
    <div class="mt-5">
        <h2><b>Historico de Emprestimos</b></h2>
    </div>
    </div class="list-group">
        {% for emprestimo in emprestimos %}
        <b>Livro:</b> {{ emprestimo.livro }}<br>
        <b>Data:</b> {{ emprestimo.data_de_emprestimo }}<br>
        <b>Codigo:</b> {{ emprestimo.codigo }}<br>
        <a class="btn btn-primary mt-2" href="{% url 'devolver_livro' emprestimo.id %}">DEVOLVER</a>
        <hr>
        <br>
        {% endfor %}
    </div>
    
</body>
{% endblock content %}