<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Biblioteca - Emprestimos</title>
</head>
<body>
    <h1><b>BibliotecaTeca</b></h1>
    <hr>
    <br>
    <ul>
        <li><a href="{% url 'fazer_emprestimo'%}">Fazer Emprestimo</a></li>
        <li><a href="{% url 'cadastrar_livro'%}">Cadastrar Livro</a></li>
        <li><a href="{% url 'listar_livros'%}">Lista de Livros</a></li>
        <li><a href="{% url 'historico_de_emprestimos'%}">Historico de Emprestimos</a></li>
    </ul>
    <hr>
    <br>
    <h2><b>Nossos Livros</b></h2>
    <br>
    <ul>
    {% for livro in livros %}
        <li><a href="{% url 'detalhar_livro' livro.id %}">{{ livro.titulo }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>