<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Biblioteca - Emprestimos</title>
</head>
<body>
    <h1><b>BibliotecaTeca</b></h1>
    <hr>
    <br>
    <h2><b>Pagina Inicial</b></h2>
    <hr>
    <br>
    <ul>
        <li><a href="{% url 'fazer_emprestimo'%}">Fazer Emprestimo</a></li>
        <li><a href="{% url 'cadastrar_livro'%}">Cadastrar Livro</a></li>
    </ul>
    <hr>
    <br>
    <div class="col">
        <h2><b>Nossos Livros</b></h2>
        <ul class"list-group">
            {%for livro in livros %}
            <li class="list-group-item"></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>